@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightblue;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  .dropdown-toggle {
    font-weight: bold;
    width: 15%;
    font-size: larger;
  }
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
  
  .category-button {
    width: 100%;
    font-size: larger;
  }
}
}

.page-container {
  #page-title {
    text-align: center;
    margin-bottom: 20px;
  }
  #products {
    .card {
      margin-bottom: 10px;
      border: 1px solid black;
        .card-title {
          text-align: center;
          font-size: 1.5em;
          border-bottom: 1px solid black;
        }
        .card-info {
          font-weight: bold;
        }
    }
  }
}